

{% extends 'core/main.html' %}

{% load static %}

{% block content %}
<style media="screen">
    .form-body{
        display : flex;
        justify-content : center;
        align-items : center;
        font-family: 'Jost', sans-serif;
        background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
        margin-top : 30px;
        padding : 30px 0px;
    } 

    .main1{
        width: 380px;
        height: 500px;
        background: red;
        overflow: hidden;
        background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover; 
        border-radius: 10px;
        box-shadow: 5px 20px 50px #000;
    }
    
    .signup{
        position: relative;
        width:100%;
        height: 100%;
    }

    .heading{
        color: #fff;
        font-size: 2.3em;
        justify-content: center;
        display: flex;
        margin: 50px;
        font-weight: bold;
        cursor: pointer;
        transition: .5s ease-in-out;
    }

    input{
        width: 70%;
        height: 30px;
        background: #e0dede;
        justify-content: center;
        display: flex;
        margin: 20px auto;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 5px;
        font-weight : 500;
        font-size : 18px;
    }

    .button{
        width: 50%;
        height: 40px;
        margin: 10px auto;
        justify-content: center;
        display: block;
        color: #fff;
        background: #573b8a;
        font-size: 1em;
        font-weight: bold;
        margin-top: 20px;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: .2s ease-in;
        cursor: pointer;
    }

    .button:hover{
        background: #6d44b9;
    }

    .bottom{
        display : flex;
        justify-content: center;
        align-items: center;
        flex-direction : column;
        margin-top: 40px;
        color : white;
    }
</style>

<div class="form-body">
    <div class="main1">  	
            <div class="signup">
                <form method="post">
                    {% csrf_token %}
                    <label class="heading" for="chk" aria-hidden="true">Login</label>
                    <input type="text" name="username" placeholder="Username" required="">
                    <input type="password" name="pass" placeholder="Password" required="">
                    <input class="button" type="submit" value="Login">
                </form>

                <div class="bottom">
                    <h4>Don't have an account?</h4>
                    <h4>Register here! <a href="{% url 'signup' %}">Sign up</a></h4>
                </div>
            </div>
    </div>
</div>
{% endblock content %} 

